.biaoti{

    text-align: center;
    color:rgb(82, 82, 247);
    font-size: 30px;
    font-weight:bold;
    line-height:70px
}
.ex{
    background-color: rgb(238, 242, 245)

}
#mark{
    font-size: 15px;
    border-color: black;
    width:97%;
    height: 200px;
}
button{
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color:  rgb(76, 149, 206);
    
    
}
.n{
    font-size:20px
}

.lx{
    font-size: 20px;
    font-weight:bold;

}