
    ul{
        list-style:none;
        /* display:block; */
        white-space: pre-wrap;
        padding:10px;
        margin:0px;
        display:inline
        }
    .content {   
        white-space: pre-wrap; 
        overflow: hidden;
        text-overflow: ellipsis; /* for IE */
        -o-text-overflow: ellipsis; /* for Opera */
        -icab-text-overflow: ellipsis; /* for iCab */
        -khtml-text-overflow: ellipsis; /* for Konqueror Safari */
        -moz-text-overflow: ellipsis; /* for Firefox,mozilla */
        -webkit-text-overflow: ellipsis; /* for Safari,Swift*/
    text-align: left;
    background: white;
    width: 430px;
    height:100px;
    border-bottom: 1px solid gray;
    margin: 0.5px;
    /*margin-bottom: 0.5px ; */
    line-height:20px;
    }


    .blank{
        font-size: 14px;
        height: 25px;
        width:85px;
        margin:3px;
color: #3d4450;
background-color: darkseagreen;
    }
   .active {
    font-size: 14px;
    height: 25px;
    width:85px;
    margin:3px;
    color: #3d4450;
    background-color: #0000FF}
    

    .highlightedText{
    color: #c00;
    }

    .readmore{
    position: absolute;
    font-size: 16px;
    border:3px solid;
    border-color: aquamarine;
    background-color: white;
    }



    ._三级标题 {
        font-family:'Arial Normal', 'Arial';
        font-weight:bold;
        font-style:normal;
        font-size:15px;
        text-align:left;
        position: absolute;
        left: 0px;
        width: 300px;
        height: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis; 
        top:5px;
      }
    
      .paperlist{
        text-align: center;
          height: 100%;
          overflow: hidden;
      }
    
    .paper{
        padding-left:10px;

        text-align: left;
        position: relative;
        background: white;
        width: 450px;
        height:140px;
        line-height: 20px;
        /* border-bottom: 1px solid gray; */
        /* margin-top: 0.5px;  */
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis; 
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    
    
    .mes{
        position: relative;
        top:20px;
        left:320px;
        height: 30px;
        width: 100px;
        text-align: left;
    }
    
    .mes img{
        display: inline-block;
        width: 30px;
        height: 30px;
    }
    
    .picture{
        width:80px;
        height: 90px;
        border-radius: 3px;
    }
    
    .mes .name{
        position: absolute;
        font-size: 11px;
        right:15px;
    
    }
    
    .num{
        font-size: 10px;
        color:gray;
        position: absolute;
        top:34px;
        left: 0px;
    }
    
    .mes .time{
        position: absolute;
        color:#6B6B6B;
        font-size: 9px;
        right:15px;
        top:15px;
    }
    
    .labelcontainer{
        bottom: 60px;
        left: 80px;
        width:auto;
        height: 30px;
    }
    
    .label{
        position: static;
        color:black;
        font-size: 10px;
        text-align: center;
        padding: 3px; 
        float: none;
        border: 0.5px solid rgb(197, 178, 178);
        border-radius: 2px; 
        margin-left:5px  !important; 
    }
    .totop{
        padding:5px;
        width: auto;
        height: auto;
        margin:5px;
        border: 2px solid;
        border-radius:30px;
        background: rgb(128, 230, 255);
        filter:alpha(opacity=50); /*仅在ie中支持*/
        opacity:0.5; /*不支持ie*/
        display: block;
        position: fixed;
        font-size: 25px;
        right: 20px;
        top: 600px;
       }
       .totop a{
        color:white;
       }
        