
<div>
   <div *ngIf="!getstatus()" class="paper">
很抱歉，没有找到与“{{this.m_search.KeyWord}}”相关的
<span *ngIf="this.m_search.Classify=='全部'">内容</span>
<span *ngIf="this.m_search.Classify!='全部'">{{this.m_search.Classify}}</span>。
<br>
温馨提示：
<br>
    请检查您的输入是否正确。
    <br>
    如内容未收录，或有任何意见/建议，请及时
    <a [routerLink]="[ '/Feedback']">反馈</a>给我们。
</div> 
    <ul *ngIf="getstatus()">
        <div class="paperlist" >
        <div >
                共查询到{{this.m_search.list.length}}篇相关<span *ngIf="this.m_search.Classify=='全部'">内容</span>
                <span *ngIf="this.m_search.Classify!='全部'">{{this.m_search.Classify}}</span>。
                
        </div>
         <div *ngFor="let item of this.list" class="paper">
                <li > 
                        <div class="_三级标题" >
                            //{{item.Classify}}//
                            <span *ngIf="item.Classify=='论文'">
                                <a [routerLink]="['/paperweb','/search',item.ID]" [innerHTML]="item.Title |keyword:this.m_search.KeyWord" ></a>
                            </span>
                        <span *ngIf="item.Classify=='法律'"><a (click)="turntolegal(item.legaltype)" [innerHTML]="item.Title |keyword:this.m_search.KeyWord" ></a>
                            </span>
                            <span *ngIf="item.Classify=='案例'"><a (click)="turntocase(item.Title)" [innerHTML]="item.Title |keyword:this.m_search.KeyWord" ></a>
                            </span>
                        </div>
                        <!-- <div class="num" *ngIf="item.Classify=='论文'">字数：{{item.Length}}</div> -->
                    <div class="mes" >
                    <span class="name" *ngIf="item.Classify=='论文'">{{item.Author}}</span>
                    <span class="time" *ngIf="item.Classify=='论文'">{{item.Date|date: 'yyyy-MM-dd'}}</span>
                    </div>
                     <div class="content">
                            <span class="labelcontainer" *ngFor="let label of item.Labelbox">
                                    <span  class="label">
                                       {{label}}
                                    </span>
                                </span>
                           <!-- <span>{{item.lables|json}}</span> -->
                             <div  [innerHTML]="item?.Content |keyword:this.m_search.KeyWord" > 
                             </div> 
                                </div> 
                              
                                </li> 
                               
            </div> 
          
        </div>
        <button type="button" class="btn btn-default navbar-btn"(click)="readmore()">加载更多</button>
        </ul>
      </div>