

    <ul *ngIf="getstatus()">
        <div class="paperlist">
        <div>
            共查询到{{this.m_search.list.length}}条相关信息
        </div>
         <div *ngFor="let item of this.list" class="paper">
                <li >  <hr>
                        <div class="_三级标题" >
                            //{{item.Classify}}//
                            <span *ngIf="item.Classify=='论文'">
                                <a [routerLink]="['/paperweb','/search',item.ID]" [innerHTML]="item.Title |keyword:this.m_search.KeyWord" ></a>
                            </span>
                        <span *ngIf="item.Classify=='法律'"><a [routerLink]="['/article','legaltype']" [innerHTML]="item.Title |keyword:this.m_search.KeyWord" ></a>
                            </span>
                        </div>
                        <div class="num" *ngIf="item.Classify=='论文'">字数：{{item.Length}}</div>
                    <div class="mes">
                    <span class="name">{{item.Author}}</span>
                    <span class="time">{{item.Time|date: 'yyyy-MM-dd'}}</span>
                    </div>
                     <div class="paper">
                           <!-- <span>{{item.lables|json}}</span> -->
                             <span  [innerHTML]="item?.Content |keyword:this.m_search.KeyWord" > 
                            </span>
                                </div> 
                              
                                </li> 
                               
            </div> 
          
        </div>
        <hr>
           <button (click)="readmore()" class="readmore" style="height: 40px;">加载更多</button>
          page:{{this.page}}
        </ul>
      