.biaoti{

    text-align: center;
    color:rgb(82, 82, 247);
    font-size: 30px;
    font-weight:bold;
    line-height:70px
}
h2{

    text-align: center
}
h3{

    text-align: center
}
.zi{
    background-color: rgb(238, 242, 245);
    border-radius: 20px;
}
button{
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color:  rgb(76, 149, 206);
    
    
}