.biaoti{

    text-align: center;
    color:rgb(113, 113, 194);
    font-size: 30px;
    font-weight:bold;
    line-height:70px;
}
h2{

    text-align: center
}
h3{

    text-align: center
}
.zi{
    background-color: rgb(238, 242, 245);
    border-radius: 20px;
}
button{
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: Arial;
    width: 180px;
    height: 35px;
    background-color:  rgb(95, 160, 209);
    font-size: 18px;
    
    
}