h1{

    text-align: center;
    color:blue
}
h2{

    text-align: center
}
h3{

    text-align: center
}
.zi{
    background-color: rgb(238, 242, 245)

}
button{
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color:  rgb(76, 149, 206);
    
    
}