<div class="main">
  <div class="head">
  </div>
  <div class="title">
    <p class="title">登陆</p>
  </div>
  <div class="Tip" *ngIf="in.Tip!=''">
    提示：{{in.Tip}}
  </div>
  <div class="Tip2" *ngIf="in.Tip=='登陆成功'">
    提示：{{in.Tip}}
  </div>
  <div class="form" >
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <p>邮箱</p>
      <input type="text" formControlName="Email">
      <p>密码</p>
      <input type="password" formControlName="Password"><br><br><br>
      <button type="submit" [disabled]="!profileForm.valid">登陆</button>
    </form>
  </div>
  <div class="line1" (click)="gotoRegister()">注册>></div>
  <div class="line2" (click)="gotoForgetPassword()">忘记密码>></div>
</div>