<div class="panel panel-default" style="width:90%;margin: auto">
    <div class="panel-heading">
        <h3 class="panel-title">
            家居行业未来10年如何发展?
        </h3>
    </div>
    <div class="panel-body">
        泛家居行业的年会就进入高频时刻。一个感受是，即使环境充满挑战，但几乎所有的企业都充满信心，释放出了非常积极的信号...
        <br>
        <a>UserName</a>
        <!-- &nbsp;普通的英文半角空格但不换行 -->
        &nbsp;&nbsp;&nbsp;&nbsp;2019/2/16   
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;阅读量：100   -->
        &nbsp;&nbsp;&nbsp;&nbsp;评论：3
    </div>
</div>