<nav class="navbar navbar-default" role="navigation">
    <div>
        <ul class="nav navbar-nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-3"><a style="cursor: pointer;text-align: center ;display: block" href="#" routerLink="/">返回</a></div>
                    <div class="col-xs-3"><a style="cursor: pointer;text-align: center;display: block">论文</a></div>
                    <div class="col-xs-3"><a style="cursor: pointer;text-align: center;display: block">案例</a></div>
                    <div class="col-xs-3"><a style="cursor: pointer;text-align: center;display: block">法条</a></div>
                </div>
            </div>
        </ul>
    </div>
</nav>
<app-thesis></app-thesis>