<!-- 热门-标签-问答的头 -->
<div id="u0" class="ax_default" data-left="11" data-top="98" data-width="425" data-height="40">

  <!-- Unnamed (矩形) -->
  <div id="u1" class="ax_default box_2">
    <div id="u1_div" class="">

      <!-- 热门 -->
      <div id="u3" class="ax_default ">
        <div id="u3_text" class="text " (click)="popular()">
          <p><span>热门</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u2" class="ax_default line">
        <img id="u2_img" class="img " src="assets/images/new_page_1/u2.png" />
      </div>

      <!-- 标签 -->
      <div id="u4" class="ax_default " >
        <div id="u4_text" class="text " (click)="tag()">
          <p><span>标签</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u6" class="ax_default line">
        <img id="u6_img" class="img " src="assets/images/new_page_1/u2.png" />
      </div>

      <!-- 我的问答 -->
      <div id="u5" class="ax_default ">
        <div id="u5_text" class="text " (click)="mychat()">
          <p><span>我的问答</span></p>
        </div>
      </div>
    </div>

  </div>
</div>
