._三级标题 {
    font-family:'STXinwei';
    font-style:normal;
    font-size:18px;
    text-align:left;
    position: absolute;
    left: 8px;
    width: 400px;
    height: 50px;
    overflow: hidden;
    top:5px;
    overflow-x: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(82, 82, 231);
  }
    app-webhead{
        position: relative;
        z-index: 999;
    }
  .paperlist{
      height: 100%;
      overflow: hidden;
      padding-bottom: 0px;
      padding-top: 10px;
  }

.paper{
    position: relative;
    background: white;
    width: 450px;
    height: 90px;
    cursor: pointer;
    border-bottom: 1px solid gray;
    margin-top: 0.5px;
    
}


.mes{
    font-size: 12px;
    margin-top: 34px;
    margin-left: 15px;
    height: auto;
    width: auto;
    float: left;
}

.mes img{
    display: inline-block;
    width: 30px;
    height: 30px;
}

.picture{
    width:80px;
    height: 90px;
    border-radius: 3px;
}

.name{
    display: inline-block;
    margin-left: 10px;
    color:gray;
}

.num{
    color:gray;
    display: inline-block;
}

.time{
    color:#6B6B6B;
    margin-left: 10px;
    display: inline-block;
}

.lablecontainer{
    position: absolute;
    bottom: 8px;
    left: 15px;
    width:auto;
    height: 20px;
}

.lables{
    font-size: 10px;
    text-align: center;
    padding: 3px; 
    padding-left: 4px;
    border: 0.5px solid rgb(197, 178, 178);
    border-radius: 2px; 
    float:left; 
    margin-left:8px; 
}

.row{
    position: absolute;
    right: 50px;
    top:35px;
    font-size: 15px;
    font-weight: bold
}