<app-webhead (isJapan)="getJapanKorea($event)" ></app-webhead>

<div class="paperlist" ng-cloak>
  <div *ngFor="let article of Articles">
    <div class="paper" [routerLink]="['/paperweb',article.ID]">
      <div>
       <img src="../../../assets/word.jpg" class="picture">
        <div class="_三级标题">{{article.Title}}</div>
        <div class="num">字数：{{article.Length}}</div>
        <div class="mes">
          <span class="name">{{article.Author}}</span>
          <span class="time">{{article.Time|date: 'yyyy-MM-dd'}}</span>
        </div>
        <div class="lablecontainer">
          <div *ngFor="let lable of article.Lable" class="lables">
             {{lable}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>