<div class="head">
  <img src="{{BackgroundImage}}" class="back">
  <div class="logo"><img src="assets/logo.png" class="imge" /></div>
  <div class="oneline"><a routerLink="/homepage" (click)="deleteSearch()">首页</a></div>
  <div class="oneline"><a routerLink="/discussionarea" (click)="deleteSearch()">讨论区</a></div>
  <div class="oneline"><a routerLink="/legal" (click)="deleteSearch()">法律条文</a></div>
  <div class="oneline"><a routerLink="/paper" (click)="deleteSearch()">相关论文</a></div>
  <div class="oneline"><a routerLink="/caseanalysis" (click)="deleteSearch()">案例分析</a></div>
  <div class="JorK" (click)="JapanKoreaChange()">
    {{JapanOrKorea}}
  </div>
  <img src="../../../../assets/sou.png" class="search" routerLink="/search">
  <div class="loginCSS" (click)="login()" *ngIf="In.IfLogin==false">
    <div>未登录</div>

  </div>
  <div class="headImage" *ngIf="In.IfLogin">

    <img src={{In.Image}} class="headImage" routerLink="/userpage" />
    <!--个人中-->
  </div>
  <div class="registerCSS" (click)="cancel()">注销</div>
</div>
<div class="langing">
  <app-langing *ngIf="IfLogin&&In.IfLogin==false" (closed)="close()" (LoginData)="getLoginData($event)"></app-langing>
</div>