<app-webhead></app-webhead>
<div class="homepagebody">
    <div class="picturebox">
        <div class="picture">
           <a  *ngFor="let date of SlideBox_date" href={{date.linkurl}}>
                <img src={{date.imgurl}} >
           </a>
        </div>
            <div class="describe_box">
                    <div class="describe"  *ngFor="let date of SlideBox_date">
                        <p>{{date.title}}</p>
                    </div>
            </div>
            <dl class="scalle_box">
                <dt class="scalle_on"></dt>
                <dt></dt>
                <dt></dt>
                <dt></dt>
                <dt></dt>
            </dl> 
    </div>
<dl>
        <dt  *ngFor="let row of artical_date">
           
            <div class="artical">
                    <div class="atc_pic">
                        <img src={{row.imgurl}}>
                    </div>
                    <div class="atc_tex">
                        <a  href={{row.linkurl}}><p>{{row.brief}}</p></a>
                    </div>
                    <div class="atc_time">
                        <p>{{row.date}}</p>
                    </div>
            </div><!--artical over-->
           
            <hr>
        </dt>         

</dl>
   <div class="more"  (click)="get_artical()"><p>{{more_button_show}}</p></div>
</div>

