<div class="field">
  <div style="float:left"><span class="point">法官观点</span></div>
  <div style="float:right"><img src={{imageUrl}} (click)="changeImg()" style="width: 23px;"></div>
</div>
<div class="judgePoint">
  <div [innerHTML]="displayData"></div>
  <div class="veiwAll" *ngIf="IsPay"><a name="veiwAll" style="text-decoration: none" data-toggle="modal" data-target="#myModal" (click)="print()" #test>查看全部</a></div>
</div>

<div>
  <div>
    <div class="header"><h2>首部</h2></div>
    <div class="return"><button (click)="goBack()">返回</button></div>
  </div>
  <div [innerHTML]="header"></div>
</div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLable" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="myModalLabel">积分消费</h3>
        </div>
      </div>
      <div class="modal-body">
        <div>
          <span><span>{{username}}</span>的积分：</span><span>{{allintegral}}</span><span>分</span>
        </div>
        <div>
          <hr>
        </div>
        <div>
          <span>需要积分：</span><span>{{integral}}分</span>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-lg" data-dismiss="modal" (click)="displayAlldata()">确定</button>
        <!-- 确定这里需要一些操作,当积分不足的时候就要出现禁止的弹窗 -->
        <button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#rechargeModal" data-dismiss="modal">充值</button>
      </div>
    </div>
  </div>
</div>




<!-- 在这里弹出充值消费的模板 -->

<div class="modal fade" id="rechargeModal" tabindex="1" role="dialog" aria-labelledby="rechargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">  
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">积分充值</h3>
      </div>
      <div class="modal-body">
        <div>
          <span>当前用户：</span><span>{{userId}}</span>
        </div>
        <div class="pay">
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios1" id="optionsRadios3" value="option1" checked  (click)="sumbitFive()">
              <div id="five" style="width:180px;height:38px;border:1px solid;border-radius: 12px;background-color: rgba(204,255,204,1);text-align: center;">
                <h4>50分/5元</h4>
              </div>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios1" id="optionsRadios4" value="option2" (click)="sumbitTen()">
              <div id="five" style="width:180px;height:38px;border:1px solid;border-radius: 12px;background-color: rgba(204,255,204,1);text-align: center;">
                <h4>120分/10元</h4>
              </div>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios1" id="optionsRadios5" value="option3" (click)="sumbitTwenty()">
              <div id="five" style="width:180px;height:38px;border:1px solid;border-radius: 12px;background-color: rgba(204,255,204,1);text-align: center;">
                <h4>300分/20元</h4>
              </div>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios1" id="optionsRadios6" value="option4" (click)="sumbitFifty()">
              <div id="five" style="width:180px;height:38px;border:1px solid;border-radius: 12px;background-color: rgba(204,255,204,1);text-align: center;">
                <h4>800分/50元</h4>
              </div>
            </label>
          </div>
        </div>

        <label for="name"><h4>支付方式：</h4></label>
        <div>
          <div class="radio-inline">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="微信支付" checked> 微信支付
            <!-- 其中checked表示一开始为被选中状态 -->
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="支付宝支付">支付宝支付
            </label>
          </div>
        </div>
        <div>
          <span>应付金额：</span> <span>{{money}}</span>元
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" data-dismiss="modal">确定支付</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="IsLogin" class="app-langing">
  <app-langing (closed)="boxClose()" (LoginData)="getLoginData($event)"></app-langing>
</div>


