.field{
    height: 34px;
    margin-top:4px; 
    background-color: rgba(255, 238, 221, 1);
}

.point{
    color: #ff6666;
}
.judgePoint{
    position: relative;
    /* height: 500px; */
    background-color: rgba(255, 238, 221, 1);
    height:500px;
    overflow: hidden
}



.veiwAll{
    position: absolute;
    height: 20px;
    background-color:rgba(255, 238, 221, 1);
    /* right: 0;    */
    /* 重新设置按钮 */
    font-size: 22px;
    bottom: 0;
    height: 30px;
    width: 450px;
    text-align: center;
    border-top: 1px gray dashed;
    background-image: linear-gradient(  
    to right,   
    rgba(92, 29, 29, 0.2) 0%,   
    rgba(0,0,0,0.5) 5%,   
    rgba(0,0,0,0.7) 10%,   
    rgba(0,0,0,0.7) 90%,   
    rgba(0,0,0,0.5) 95%,   
    rgba(0,0,0,0.2) 100%
    )
}

li{
    list-style: none;
}

#five:focus{
  border: 1px red;
}

.app-langing{
    position:fixed;
    top:160px;
    left:35px;
    z-index: 997;
}


/* 首部 */
.header{
    display: inline-block;
}

.return{
    display:inline-block;
    position: relative;
    left: 330px;
}

.return{
    outline: none;
    color: red;
}

