<app-webhead></app-webhead>
 
 <app-chat-head></app-chat-head>



<!-- 我的问答 -->
<div id="MyInfoQuestionAnswer">

    <!-- 我的信息 -->
    <div id="QAMyInfo">
  
      <div id="QAmyimage">
        <a [routerLink]="[ '/queansdetail' ]">
          <!-- {{Image}} -->
          <img width="40px" height="40px" src="../../../../assets/images/index/u159.png">
        </a>
      </div>
      
      <div id="QAmyinfomation">
        <h5>{{UserName}}</h5>
        <h5>积分：<span id="QAintegral">{{Integral}}</span></h5>
      </div>
  
    </div>
  
  
    <!-- 我的提问 -->
    <div id="MyQue">
      <a class="QABox1" (click)="myQue()">我的提问</a>
      <a class="QABox2">{{MyQueCount}}条提问</a>
    </div>
   <!-- [queryParams]="{aid:1}" [routerLink]="[ '/queansdetail/myquestion' ]" -->
  
    <!-- 我的回答 -->
    <div id="MyAns">
      <a class="QABox1" (click)="myAns()">我的回答</a>
      <a class="QABox2">{{MyAnsCount}}条回答</a>
    </div>
   <!-- [queryParams]="{aid:2}" [routerLink]="[ '/queansdetail/myanswer']" -->
  
    <!-- 我要提问 -->
    <div>
      <button id="QueBtn" (click)="toQue()">我要提问</button>
    </div>
   <!-- [queryParams]="{aid:3}" [routerLink]="[ '/toquestion' ]" -->
  </div>