div.main{
    position: relative;
    width:450px;
}

.file{
    display: none;
    visibility: hidden;
    /* 将对象隐藏 */
}
div.upload{
    
    position: absolute;
    z-index:1;
    top:200px;
    left:75px;
    height:300px;
    width:300px;
}
canvas{
    border: 1px solid rgb(136, 136, 136);
    height:300px;
    width:300px;
}
div.background{
    position: absolute;
    z-index: -1;
    top:200px;
    left:75px;
    height:300px;
    width:300px;
    text-align:center;
    line-height: 300px;
}
small.background{
    
    font-size: 350px;
    color: rgb(206, 205, 205);
}

div.yes{
    position: absolute;
    top:550px;
    left:46px;
}
div.no{
    position: absolute;
    top:550px;
    left:264px;
}
button.yes{
    border: 1px solid #ccc;
    background-color: #199ED8;
    width: 140px;
    height: 40px;
    border-radius:7px;
    color: rgb(255, 255, 255);
    font-size:20px;
}

button.no{
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    width: 140px;
    height: 40px;
    border-radius:7px;
    color: rgb(105, 105, 105);
    font-size:20px;
}
