<meta name="viewport" content="width=450,user-scalable:no">

<h1>我的反馈</h1>
<h3>我的历史反馈 ：</h3>

<div class="gundong">
    <a *ngFor="let item of list" >
        <div class="lishi">
            <br>
           <a class="yanse"> {{item.feedbacktype}}:</a>
            <p>{{item.feedbackcontent}} </p>
            <a class="yanse"> 回复:</a>
            <p>{{item.feedbackreplie}}</p>
            <p id="a">{{item.feedbacktime | date: 'yyyy-MM-dd HH:mm:ss '}}</p>
            <br>
        </div>
        <br>
    </a>

</div>
          
<br>
<br>
<div style="margin:0 auto;width:200px;">
  <button (click)="fuikui()">我要反馈 </button>
  <br>
  <br>
  <button (click)="bin()">返回首页</button>
</div>

