<app-webhead (isJapan)="getJapanKorea($event)"></app-webhead>

<div class="module">
<div class="search">
   <form class="navbar-form navbar-left" style="text-align:center;">
      <ul class="nav navbar-nav" >
          <li *ngFor="let item of this.searchlist" style="width:100px;float:left;">
            <a (click)="setInfo(item)">{{item}}</a></li>
        </ul>
   <div style="text-align:center;float:center;">
 <input type="text" [(ngModel)]="KeyWord" class="form-control" [ngModelOptions]="{standalone: true}" style="width:320px;float:left;"
  placeholder="搜索{{this.searchgroup}}" onkeyup="value=value.replace(/\s/g,'')"/>
  <button (click)="doSearch()" type="submit" class="btn btn-default" style="float:left;">  
    <img src="assets/images/index/u7.png" width="16" />  
    </button>
    <br><br>
    <div style="text-align: center" *ngIf="this.ifsearch">
      <ul class="nav navbar-nav" style="text-align: center">
          <li style="text-align: center;float:left;" >
            <a (click)="order('all')">综合排序</a></li>
          <li style="text-align: center;float:left;">
              <a (click)="order('onlytitle')">只搜主题</a></li> 
          <li style="text-align: center;float:left;">
               <a >时间排序(暂无)</a></li>
        </ul>
      </div>
  </div>
    
</form>
</div>
</div>

<div class="module" *ngIf="!this.ifsearch">
<div class="history" *ngIf="IfHistory" > 搜索记录
  <hr>
<ul>
  <li *ngFor="let item of HistoryList;let key=index">
    <img src="../../../assets/history.png" width="14">
 <button (click)="reSearch(item)" class="searchitem">
   {{item}}
  </button>
 <button (click)="deleteHistory(key)" class="x">
   x
  </button>
 <hr>
  </li>
</ul>
<button (click)="remove()" class="remove">
  清空历史记录
</button>
</div>
</div>
<br>
<div  *ngIf="this.ifsearch">
    
        <br>
<app-searchresult></app-searchresult>
<a href="javascript:scroll(0,0)">回到顶部</a>

</div>

