


    .search select{
    height: 40px;
    width: 80px;
    border-radius:7px;
	border:2px solid #a4d1f0;
	background:rgb(232, 249, 255);
    scrollbar-arrow-color:#a4d1f0;
    }

    ul{
    list-style:none;
    display:block;
    width:420px;
    white-space: nowrap;
    padding:10px;
    margin:0px;
    }
    li{
    text-align:left;
    }
    .history button{
    border:0;
    background-color: white
    }

    .history {
        font-size:22px;
        word-wrap:break-word;
    }

    .searchitem{
        width:300px;
        font-size: 14px;
      text-align: left;
    }

    .x{
        font-size: 12px;

        float: right;
    }
.remove{
    font-size: 14px;
}
    /* body {
    top: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 600px;
    max-width: 450px;
    min-width: 220px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px; 
    }*/
    .module{
    text-align:center;
    /* border-style: solid;
    border-width: 1px; */
    margin-top:15px;
    }


