<!-- 提问、回答 头部 -->
<div id="DetailHeader">
  <a id="QAReturn" routerLink="/mychat" >&lt;返回</a>
  <span id="DeHeadQA">
    <a id="QAMyQue" routerLink="/myquestion" >我的提问</a>
    <a id="QAMyAns" routerLink="/myanswer" >我的回答</a>
  </span>
</div>

  <!-- 回答列表 -->
  <div class="detailBody">

    <ul>
      <li *ngFor="let item of AnsList;let key=index" [hidden]="key>this.DisplayCount" >
        <div id="Ansorder">
            <a routerLink="/post?topicID={{item.topicid}}" (click)="readTopic(item.topicid)">
           <!-- <a href="post?topicID={{item.topicid}}"> -->
                <div class="List">
                  <div class="Info">
                      
                  <div class="Content">
                    <p>{{item.replycontent}}</p>
                  </div>
                      
                      <div class="NameTime">
                        <!-- <div class="Nickname">{{this.UserName}}</div> -->
                        <div class="LastTime">
                          第{{item.floor}}楼 &nbsp; {{item.replytime | date:'yyyy/MM/dd HH:mm:ss'}}
                        </div>
                      </div>
                      
                  </div>
                   
                  
                </div>
              </a>
          
        </div>
      </li>

      <li *ngIf="DisplayCount < MyAnsCount" >
        <div id="loadmore">
          <a (click)="loadMore()">
          <span>加载更多...</span>
        </a>
        </div>
      </li>

    </ul>
  </div>