<div class="main">
    <div class="head">
    </div>
    <div class="title">
      <p class="title">注册</p>
    </div>
    <div class="form">
      <form #registerform="ngForm" (onSubmit)="onSubmit()"><br>
        <label for="emailId">邮箱</label><br>
        <input class="inputCSS" type="email"  required  
         id="emailId"  name="emailN" [(ngModel)]="user.Email" placeholder="请用邮箱的格式" #email="ngModel"><br>
        <br>
        <label for="passwordId">密码</label><br>
        <input class="inputCSS" type="password" required minlength="6" pattern="[0-9a-zA-Z]*"
         id="passwordId" name="passwordN" [(ngModel)]="user.Password" placeholder="请用字母和数字且输入不少于6位"><br>
        <br>
        <label for="confirmPassword">再次输入密码</label><br>
        <input class="inputCSS" type="password" required  minlength="6" pattern="[0-9a-zA-Z]*"
        id="confirmPassword" name="confirmPasswordN" [(ngModel)]="confirmPassword" placeholder="请用字母和数字且输入不少于6位" ><br>
        <br>
        <label for="verificationId">验证码</label><br>
        <input class="inputCSS" type="text" class="Verification" required
        id="verificationId" name="verificationN" [(ngModel)]="formVerification">
        <br><br><br>
        <button type="submit" [disabled]="!registerform.form.valid" (click)="onSubmit()">注册</button>
      </form>
      
    </div>
    
    <div class="Verification">
      <button class="Verification" (click)="getVerification()" [disabled]="!VerificationButtonValid">获取验证码</button><span *ngIf="!VerificationButtonValid" class="timeNumber">({{timeNumber}})</span>
    </div>

    <div class="line1" (click)="gotoLand()">登录>></div>
    <div class="line2" (click)="gotoForgetPassword()">忘记密码>></div>
  </div>

  

 
 
    <!---->