
.ax_default {
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
  
    line-height: normal;
}

.label {
    font-size: 14px;
    text-align: left;
}



p {
    margin: 0px;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-kerning: normal;
}

body {
    margin: 0px;
    background-image: none;
    // position: static;
    left: auto;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    // position: absolute;
    z-index: 0;
    width: auto;
    height: auto;
}

#u0 {
    margin-top: 15px;
    margin-bottom: 25px;
    border-width: 0px;
    width: auto;
    height: auto;
}


#u8_div {
    // position: relative; // left:2%;
    // top:0px;
    width: 450px;
    height: 138px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 7px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u8 {
    // border-width:0px;
    // position:absolute;
    // left:11px;
    // top:149px;
    width: 100%; // height:138px;
}

#u8_text {
    border-width: 0px;
    // position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}

#u9_img {
    border-width: 0px;
    // position: relative;
    left: 0px;
    top: 0px;
    width: auto;
    height: auto;
}

#u9 {
    float: left;
    margin-right: 10px;
    border-width: 0px;
    // position: relative;
    left: 2%;
    top: 5%;
    width: 7%;
    height: 20%;
    text-align: center;
}

#u9_text {
    border-width: 0px;
    // position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    visibility: hidden;
    word-wrap: break-word;
}

#u10_div {
    border-width: 0px; // position:absolute;
    // left:0px;
    // top:0px;
    width: 46px;
    height: 13px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 11px;
}

#u10 {
    border-width: 0px;
    // position: relative;
    left: 45px;
    top: -20px;
    width: 46px;
    height: 13px;
    font-size: 11px;
}

#u10_text {
    border-width: 0px;
    // position: relative;
    left: 0px; // top:-15px;
    width: 46px;
    white-space: nowrap;
}

#u11_div {
    border-width: 0px;
    // position: absolute;
    left: 0px;
    top: 0px;
    width: 42px;
    height: 10px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 8px;
    color: #797979;
}

#u11 {
    border-width: 0px;
    // position: relative;
    left: 45px;
    top: -17px;
    width: 42px;
    height: 10px;
    font-size: 8px;
    color: #797979;
}

#u11_text {
    border-width: 0px;
    // position: relative;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
}

#u12_div {
    border-width: 0px;
    // position: absolute;
    left: 0px;
    top: 0px;
    width: 413px;
    height: 57px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u12 {
    border-width: 0px;
    // position: relative; // left:12px;
    top: 8px;
    width: auto; // width:413px;
    height: 57px;
    // -webkit-box-orient: vertical;
}

#u12_text {
    border-width: 0px;
    // position: relative;
    left: 10px;
    top: 0px;
    width: 430px;
    height: 52px; // width:413px;
    word-wrap: break-word;
    display: -webkit-box;
    // -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

#u13_div {
    border-width: 0px;
    // position: absolute;
    left: 0px;
    top: 0px;
    width: 65px;
    height: 19px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}

#u13 {
    margin-bottom: 5px;
    border-width: 0px;
    // position: relative;
    left: 11px;
    top: -70px;
    width: 65px;
    height: 19px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}

#u13_text {
    border-width: 0px;
    // position: relative;
    left: 0px;
    top: 0px;
    width: 65px;
    white-space: nowrap;
}

#u14_div {
    border-width: 0px;
    // position: absolute;
    left: 0px;
    top: 0px;
    width: 42px;
    height: 11px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 10px;
    color: #6B6B6B;
}

#u14 {
    margin-right: 35px;
    float: left;
    border-width: 0px;
    // position: relative;
    left: 12px;
    top: -6.5px;
    width: 42px;
    height: 11px;
    font-size: 10px;
    color: #6B6B6B;
}

#u14_text {
    border-width: 0px;
    // position: relative;
    left: 0px;
    top: 0px;
    width: 43px;
    white-space: nowrap;
}

#u15_div {
    border-width: 0px;
    // position: absolute;
    left: 0px;
    top: 0px;
    width: 47px;
    height: 11px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 10px;
    color: #6B6B6B;
}

#u15 {
    margin-right: 35px;
    float: left;
    border-width: 0px;
    // position: relative;
    left: 81px;
    top: -17px;
    width: 47px;
    height: 11px;
    font-size: 10px;
    color: #6B6B6B;
}

#u15_text {
    border-width: 0px;
    // position: relative;
    left: 0px;
    top: 0px;
    width: 49px;
    white-space: nowrap;
}

#u16_div {
    border-width: 0px;
    // position: absolute;
    left: 0px;
    top: 0px;
    width: 36px;
    height: 11px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 10px;
    color: #6B6B6B;
}

#u16 {
    border-width: 0px;
    // position: relative;
    left: 155px;
    top: -28px;
    width: 36px;
    height: 11px;
    font-size: 10px;
    color: #6B6B6B;
}

#u16_text {
    border-width: 0px;
    // position: relative;
    left: 0px;
    top: 0px;
    width: 38px;
    white-space: nowrap;
} 

.ripple {
    position: relative;
    overflow: hidden;
}
.ripple:focus{
    outline: none;
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;

    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    pointer-events: none;
    background-color: #333;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0;
    transition: all .3s;
}

.ripple:active:after {
    opacity: .3;
    //设置初始状态
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0s;
}







