<!-- 提问、回答 头部 -->
<div id="DetailHeader">
  <a id="QAReturn" (click)="detailReturn()" >&lt;返回</a>
  <!-- [routerLink]="[ '/discussion/myqueans' ]" -->
  <span id="DeHeadQA">
    <a id="QAMyQue" (click)="detailMyQue()" >我的提问</a>
    <!-- [routerLink]="[ '/queansdetail/myquestion' ]" -->
    <a id="QAMyAns" (click)="detailMyAns()" >我的回答</a>
    <!-- [routerLink]="[ '/queansdetail/myanswer' ]" -->
  </span>
</div>

  <!-- 提问列表 -->
  <div class="detailBody">提问列表
    

    <ul>
      <li *ngFor="let item of QueList;let key=index" [hidden]="key>this.DisplayCount" >
        <div id="Queorder">

            <a [routerLink]="[ '/' ]">
              <div class="List">
                <div class="Info">
                    <div class="Image">
                          <img width="28px" height="28px" src="../../../../assets/images/index/u159.png" >
                    </div>
                    
                    <div class="NameTime">
                      <div class="Nickname">{{this.UserName}}</div>
                      <div class="LastTime">{{item.creationtime | date:'HH:mm:ss yyyy/MM/dd'}} </div>
                    </div>
                    
                </div>
                 
                <div class="Content">
                  <h2>{{item.topictitle}}</h2>
                  <p>
                    {{item.topiccontent}}
                  </p>
                </div>
                
                <div class="TailData">
                  <span>replies:{{item.numberofreplies}}</span>&nbsp;
                  <span>visit:{{item.visitvolume}}</span>&nbsp;
                  <span>collection:{{item.collectionvolume}}</span>
                  <br><span>最新回复：{{item.finalreplytime | date:'HH:mm MM/dd'}}</span>
                </div>
                
              </div>
            </a>

        </div>
      </li>

      <li *ngIf="DisplayCount < MyQueCount">
        <div id="loadmore">
          <a (click)="loadMore()">
          <span>加载更多...</span>
        </a>
        </div>
      </li>

    </ul>
  </div>