<!-- 提问、回答 头部 -->
<div id="DetailHeader">
  <a id="QAReturn" routerLink="/mychat" >&lt;返回</a>
  <span id="DeHeadQA">
    <a id="QAMyQue" routerLink="/myquestion" >我的提问</a>
    <a id="QAMyAns" routerLink="/myanswer" >我的回答</a>
  </span>
</div>

  <!-- 提问列表 -->
  <div class="detailBody">
    

    <ul>
      <li *ngFor="let item of QueList;let key=index" [hidden]="key>this.DisplayCount" >
        <div id="Queorder">

            <a href="post?topicID={{item.topicid}}">
              <div class="List">
                 
                <div class="Content">
                  <h3>{{item.topictitle}}</h3>
                  <p>
                    {{item.topiccontent}}
                  </p>
                </div>
                

                <div class="TailData">
                  <span>replies: {{item.numberofreplies}}</span>&nbsp;&nbsp;
                  <span>visit: {{item.visitvolume}}</span>&nbsp;&nbsp;
                  <span>collection: {{item.collectionvolume}}</span>
                  <br>
                  <span>DATE: {{item.creationtime | date:'yyyy/MM/dd HH:mm:ss'}}</span>&nbsp;&nbsp;&nbsp;
                  <span>UPDATE: {{item.finalreplytime | date:'MM/dd HH:mm'}}</span>
                </div>
                
              </div>
            </a>

        </div>
      </li>

      <li *ngIf="DisplayCount < MyQueCount">
        <div id="loadmore">
          <a (click)="loadMore()">
          <span>加载更多...</span>
        </a>
        </div>
      </li>

    </ul>
  </div>