#WantToQue{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-top: 1px solid #aaaaaa;
    /* border: 1px solid black; */
    /* padding: 20px 20px; */
}

input{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 5px;
    border: 1px solid #aaaaaa;
    display: block;
}

textarea{
    width: 88%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 5px;
    border: 1px solid #aaaaaa;
    display: block;
}

button{
    width: 56%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; 
    padding: 10px;
    border: 0px;
    background-color: #169BD5;
    color: #ffffff;
    display: block;
    border-radius: 5px;
}