
.collections{
    position:relative;
    left:20px;
    top:10px;
    z-index:1
}
.title{
    position:absolute;
    width:400px;
    height:36px;
    background-color:rgb(245, 245, 245);
    border-radius:7px;
    z-index:-1
}
.collection{
    position:relative;
    width:400px;
    height:145px;
    border:1px solid rgb(245, 245, 245);
    border-radius:7px;

}
.content{
    position:absolute;
    top:45px;
    width:360px;
    height:40px;
    overflow: hidden;
    
}
.time{
    position:absolute;
    top:120px;
}